<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions</title>
</head>
<body>
    <h1>missions show page</h1>
    <h3>Name: <%= missions.name  %> </h3>
    <h4>Launch Date <%= missions.launchDate  %></h4>
    <h4>Operator <%= missions.operator  %></h4>
    <h4>Mission Type <%= missions.missionType  %></h4>
    <img src="<%= missions.img %> " alt="" srcset="">
</body>
</html>